page-home {
    button[ion-fab] {
        overflow: visible;
        position: relative;
    
        ion-label {
            position: absolute;
            top: -8px;
            
    
            color: white;
            background-color: rgba(0,0,0,0.7);
            line-height: 24px;
            padding: 4px 8px;
            border-radius: 4px;
        }

        .left-side {
            left:50px;
        } 
        .right-side {
            right: 40px;
        }
    }
    
    .fab{
        contain: layout;
    }
}
