<ion-header>
  <ion-navbar color="light">
    <ion-title>
      <img src="assets/imgs/aviva.png" height="42" />
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div id="map" style="width: 100%; height: 100%;"></div>
  <ion-fab right bottom #fab>
    <button ion-fab color="cafeBlue">
      <ion-icon name="ios-football"></ion-icon>
    </button>
    <ion-fab-list side="top">
      <button ion-fab [ngStyle]="{'color': electricC}" (click)="filter('electric')">
        <i *ngIf="!electricA" class="fas fa-wheelchair fa-lg"></i>
        <i *ngIf="electricA" class="fas fa-check fa-lg"></i>
        <ion-label class="right-side">Electric Wheelchair</ion-label>
      </button>
      <button ion-fab [ngStyle]="{'color': walkingC}" (click)="filter('walking')">
        <i *ngIf="!walkingA" class="fas fa-wheelchair fa-lg"></i>
        <i *ngIf="walkingA" class="fas fa-check fa-lg"></i>
        <ion-label class="right-side">Walking Stick</ion-label>
      </button>
      <button ion-fab [ngStyle]="{'color': wheelC}" (click)="filter('wheelchair')">
        <i *ngIf="!wheelA" class="fas fa-wheelchair fa-lg"></i>
        <i *ngIf="wheelA" class="fas fa-check fa-lg"></i>
        <ion-label class="right-side">Wheelchair</ion-label>
      </button>
      <button ion-fab [ngStyle]="{'color': rollatorC}" (click)="filter('rollerator')">
        <i *ngIf="!rollatorA" class="fas fa-wheelchair fa-lg"></i>
        <i *ngIf="rollatorA" class="fas fa-check fa-lg"></i>
        <ion-label class="right-side">Rollator</ion-label>
      </button>
    </ion-fab-list>
  </ion-fab>
  <ion-fab bottom left #fab>
    <button ion-fab color="cafeBlue" (tap)="fabToggled()">
      <i class="fas fa-info fa-lg"></i>
    </button>
    <ion-fab-list side="top">
      <button ion-fab (click)="filterCategories(3)">
        <i *ngIf="!shoppingA" class="fas fa-shopping-bag fa-lg"></i>
        <i *ngIf="shoppingA" class="fas fa-check fa-lg"></i>

        <ion-label class="left-side">Places to Shop</ion-label>
      </button>
      <button ion-fab (click)="filterCategories(4)">
        <i *ngIf="!cameraA" class="fas fa-camera fa-lg"></i>
        <i *ngIf="cameraA" class="fas fa-check fa-lg"></i>

        <ion-label class="left-side">Things to Do</ion-label>
      </button>
      <button ion-fab (click)="filterCategories(2)">
        <i *ngIf="!foodA" class="fas fa-utensils fa-lg"></i>
        <i *ngIf="foodA" class="fas fa-check fa-lg"></i>

        <ion-label class="left-side">Restaurant</ion-label>
      </button>
      <button ion-fab (click)="filterCategories(1)">
        <i *ngIf="!bedA" class="fas fa-bed fa-lg"></i>
        <i *ngIf="bedA" class="fas fa-check fa-lg"></i>

        <ion-label class="left-side">Hotel</ion-label>
      </button>
    </ion-fab-list>
  </ion-fab>
</ion-content>