<!--
  Generated template for the HelpPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content padding-horizontal>
  <h5>{{place.name}}</h5>
  <p text-wrap>{{place.description}}</p>
</ion-content>