// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@media only screen 
and (min-width : 768px) 
and (max-width : 1024px)
{ 
    .modal-left {
        .modal-wrapper {
            top: 10%;
            left: 3.5%;
            width: 45%;
            height: 80%;
        }
    }
}

@media only screen 
and (min-width : 1024px) 
{ 
    .modal-left {
        .modal-wrapper {
            top: 10%;
            left: 3.5%;
            width: 25%;
            height: 80%;
        }
    }
}

.custom-popover
    .popover-content {
        width: 30%;
        height: auto;
        left: 27.5% !important;
    }