<ion-header>
  <ion-navbar color="cafeBlue">
    <ion-title>{{place.name}}</ion-title>
    <ion-buttons end>
      <button ion-button (click)="close()">
        Close
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid fixed>
    <ion-row hideWhen="android,ios,windows">
      <ion-col>
        <ion-card>
          <ion-item>
            <h1 text-wrap>{{place.name}}</h1>
            <h2 text-wrap *ngIf="!place.location.city && place.location.address">{{place.location.address}}</h2>
            <h2 text-wrap *ngIf="place.location.city && place.location.address">{{place.location.address}}, {{place.location.city}}</h2>
            <h2 text-wrap *ngIf="!place.location.address && place.location.city">{{place.location.city}}</h2>
          </ion-item>
          <!-- <ion-item>
            <h2 *ngIf="hours_display != 0; else noTimes" text-wrap>Opening Hours</h2>
            <p text-wrap *ngFor="let hour of hours_display; let i = index;">{{hour}}</p>
            <ng-template #noTimes><p text-wrap>There are no opening hours available</p></ng-template>
          </ion-item> -->
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list *ngIf="placeCriteria">
    <ng-template ngFor let-criteria [ngForOf]="placeCriteria">
      <ion-item *ngIf="criteria.value!=2 && criteria.display==true">
        <ion-icon *ngIf="criteria.value==-1" name="help-circle" item-end medium no-padding></ion-icon>
        <ion-icon *ngIf="criteria.value==3" name="help-circle" item-end medium no-padding></ion-icon>
        <ion-icon *ngIf="criteria.value==0" name="close-circle" color="danger" item-end medium no-padding></ion-icon>
        <ion-icon *ngIf="criteria.value==1" name="checkmark-circle" color="primary" item-end medium no-padding></ion-icon>
        <h2 *ngIf="criteria.value!=2">{{criteria.name}}</h2>
        <ion-icon name="ios-information-circle-outline" item-end no-padding small (click)="presentPopover($event, criteria)"></ion-icon>
      </ion-item>
    </ng-template>
  </ion-list>
</ion-content>